<launch>
	<arg name="sensor" default="1"/> <!-- 0: hokuyo_2dLidar; 1: 3dLidar; 2: Camera -->
	<arg name="planner" default="1"/> <!-- 0: A_star; 1: hybrid A_star -->
	<arg name="mapper_enable" default="false" />  <!-- true: 使用建图数据; false: 使用传感器原始数据 -->
	<arg name="visualization" default="true"/>
	<arg name="type_in_goal" default="false"/>
	<arg name="joystick" default="2"/> <!-- 0：disable, 1：control in Body Frame，2：control in ENU Frame 3: control in Joystick Frame -->
	
	<!-- config of 'sitl.launch' -->
	<arg name="x" default="0.0"/>
	<arg name="y" default="-10.0"/>
	<arg name="z" default="0"/>
	<arg name="gazebo_gui" default="false"/>
	<arg name="world" default="$(find simulation_gazebo)/worlds/obstacle.world"/>

	<!-- Joystick Dirver -->
	<group unless="$(eval arg('joystick') == 0)">
		<node pkg="joy" type="joy_node" name="joystick" />
		<node if="$(eval arg('joystick') == 3)" pkg="joy_remote" type="JY901_Bluetooth_Pyserial.py" name="joystick_frame" launch-prefix="gnome-terminal --tab --" />
		<node pkg="joy_remote" type="joy_remote_main" name="joy_remote">
			<param name="control_from_joy" value="$(arg joystick)" type="int"/>
			<param name="joy_goal_xy_max" value="4.0" type="double"/>      <!-- Horizontal furthest distance (when joy control) -->
			<param name="joy_goal_z_max" value="1.0" type="double"/>       <!-- Vertical furthest distance (when joy control) -->
			<param name="is_2D" value="false" type="bool"/>				<!-- if 2D: target height is fixed; if 3D: pls choice VFH Histogram mode below -->
			<param name="fly_height_2D" value="1.0" type="double"/>		<!-- if 2D, fixed height -->
			<param name="min_goal_height" value="1.0" type="double"/>				<!-- virtual ground -->
			<param name="ceil_height" value="2.0" type="double"/>
			<!-- GeoFence -->
		</node>
    </group>
	<!-- Type in goal in terminal -->
	<node if="$(arg type_in_goal)" pkg="controllers" type="pub_goal" name="pub_goal" output="screen" launch-prefix="gnome-terminal --tab --"/>	

	<!-- Hokuyo 2D Lidar -->
	<group if="$(eval arg('sensor') == 0)">
		<!-- Launch Gazebo Simulation -->
		<include file="$(find simulation_gazebo)/launch_basic/sitl.launch">
			<arg name="gazebo_gui" default="$(arg gazebo_gui)"/>
			<arg name="world" value="$(arg world)"/>
			<arg name="mode" value="_hokuyo_2Dlidar"/>
			<arg name="x" value="$(arg x)"/>
			<arg name="y" value="$(arg y)"/>
			<arg name="z" value="$(arg z)"/>
		</include>
		
		<!-- Planner -->
		<node if="$(eval arg('planner') == 0)" pkg="globle_planner" name="global_planner_main" type="global_planner_main" output="screen" launch-prefix="gnome-terminal --tab --">
			<!-- 如果直接使用  GroundTruth 点云输入 -->
			<!-- <remap from="/global_planner/global_pcl" to="/drone_msg/pcl_groundtruth" />-->
			<remap if="$(arg mapper_enable)" from="/global_planner/global_pcl" to="/octomap_point_cloud_centers" />
			<remap unless="$(arg mapper_enable)" from="/global_planner/laser_scan" to="/drone_msg/sensors/2Dlidar_scan" />

			<!-- 0: A_star; 1: hybrid A_star -->
			<param name="global_planner/algorithm_mode" value="0" type="int"/>
			<param name="global_planner/sim_mode" value="true" type="bool"/>
			<param name="global_planner/planner_enable" value="true" type="bool"/>
			<!-- 二维平面规划 -->
			<param name="global_planner/is_2D" value="true" type="bool"/> <!-- 最好是，免得往z轴上跑 -->
			<param name="global_planner/yaw_tracking_mode" value="true" type="bool"/> <!-- 如果使用 2dLidar 就需要自旋以感知地图 -->
			<!-- ２维高度，建议与起飞高度一致 -->
			<param name="global_planner/fly_height_2D" value="1.0" type="double"/>
			<!-- 停止距离 -->
			<param name="global_planner/safe_distance" value="0.01" type="double"/> <!-- 若膨胀距离map/inflate设置已考虑安全距离，建议此处设为0 -->
			<param name="global_planner/time_per_path" value="0.5" type="double"/> <!-- 路径追踪执行频率 -->
			<param name="global_planner/replan_time" value="10.0" type="double"/> <!-- 重规划频率 -->
			<!-- 0:groundtruth点云、SLAM全局点云生成; 1:RGBD相机、三维激光雷达传感器数据输入; 2:2维激光雷达传感器数据输入 -->
			<param if="$(arg mapper_enable)" name="global_planner/map_input" value="0" type="int"/>
			<param unless="$(arg mapper_enable)" name="global_planner/map_input" value="2" type="int"/>
			<param name="global_planner/ground_removal" value="true" type="bool"/>
			<param name="global_planner/max_ground_height" value="0.2" type="double"/>
			<param name="global_planner/downsampling" value="true" type="bool"/>
			<!-- 最大搜索步数 -->
			<param name="astar/allocate_num" value="10000" type="int"/>
			<!-- 启发式函数系数 -->
			<param name="astar/lambda_heu" value="2.0" type="double"/>
			<!-- 分辨率 -->
			<param name="map/resolution" value="0.2" type="double"/>
			<!-- 障碍物膨胀距离 -->
			<param name="map/inflate" value="0.8" type="double"/>
			<!-- 地图范围 -->
			<param name="map/origin_x" value="-15.0" type="double"/>
			<param name="map/origin_y" value="-15.0" type="double"/>
			<param name="map/origin_z" value="0.2" type="double"/>
			<param name="map/map_size_x" value="30.0" type="double"/>
			<param name="map/map_size_y" value="30.0" type="double"/>
			<param name="map/map_size_z" value="3.0" type="double"/>
		</node>

		<!-- 启动全局规划算法 -->
		<node if="$(eval arg('planner') == 1)" pkg="globle_planner" name="global_planner_main" type="global_planner_main" output="screen" launch-prefix="gnome-terminal --tab --">
			<!-- 如果直接使用  GroundTruth 点云输入 -->
			<!-- <remap from="/global_planner/global_pcl" to="/drone_msg/pcl_groundtruth" />-->
			<remap if="$(arg mapper_enable)" from="/global_planner/global_pcl" to="/octomap_point_cloud_centers" />
			<remap unless="$(arg mapper_enable)" from="/global_planner/laser_scan" to="/drone_msg/sensors/2Dlidar_scan" />

			<!-- 0: A_star; 1: hybrid A_star -->
			<param name="global_planner/algorithm_mode" value="1" type="int"/>
			<param name="global_planner/sim_mode" value="true" type="bool"/>
			<param name="global_planner/planner_enable" value="true" type="bool"/>
			<!-- 二维平面规划 -->
			<param name="global_planner/is_2D" value="true" type="bool"/> <!-- 最好是，免得往z轴上跑 -->
			<param name="global_planner/yaw_tracking_mode" value="true" type="bool"/> <!-- 如果使用 2dLidar 就需要自旋以感知地图 -->
			<!-- ２维高度，建议与起飞高度一致 -->
			<param name="global_planner/fly_height_2D" value="1.0" type="double"/>
			<!-- 停止距离 -->
			<param name="global_planner/safe_distance" value="0.01" type="double"/> <!-- 若膨胀距离map/inflate设置已考虑安全距离，建议此处设为0 -->
			<param name="global_planner/time_per_path" value="0.5" type="double"/> <!-- 路径追踪执行频率 -->
			<param name="global_planner/replan_time" value="10.0" type="double"/> <!-- 重规划频率 -->
			<!-- 0:groundtruth点云、SLAM全局点云生成; 1:RGBD相机、三维激光雷达传感器数据输入; 2:2维激光雷达传感器数据输入 -->
			<param if="$(arg mapper_enable)" name="global_planner/map_input" value="0" type="int"/>
			<param unless="$(arg mapper_enable)" name="global_planner/map_input" value="2" type="int"/>
			<param name="global_planner/ground_removal" value="true" type="bool"/>
			<param name="global_planner/max_ground_height" value="0.2" type="double"/>
			<param name="global_planner/downsampling" value="true" type="bool"/>

			<param name="kinodynamic_astar/max_tau" value="0.5" type="double"/>
			<param name="kinodynamic_astar/init_max_tau" value="0.5" type="double"/>
			<param name="kinodynamic_astar/max_vel" value="1.0" type="double"/>
			<param name="kinodynamic_astar/max_acc" value="1.0" type="double"/>
			<param name="kinodynamic_astar/w_time" value="15.0" type="double"/>
			<param name="kinodynamic_astar/horizon" value="9.0" type="double"/>
			<param name="kinodynamic_astar/lambda_heu" value="2.0" type="double"/>
			<param name="kinodynamic_astar/time_resolution" value="5.0" type="double"/>
			<param name="kinodynamic_astar/margin" value="0.4" type="double"/>
			<param name="kinodynamic_astar/allocate_num" value="100000" type="int"/>
			<param name="kinodynamic_astar/check_num" value="5" type="int"/>
			<!-- 分辨率 -->
			<param name="map/resolution" value="0.2" type="double"/>
			<!-- 障碍物膨胀距离 -->
			<param name="map/inflate" value="0.8" type="double"/>
			<!-- 地图范围 -->
			<param name="map/origin_x" value="-15.0" type="double"/>
			<param name="map/origin_y" value="-15.0" type="double"/>
			<param name="map/origin_z" value="0.2" type="double"/>
			<param name="map/map_size_x" value="30.0" type="double"/>
			<param name="map/map_size_y" value="30.0" type="double"/>
			<param name="map/map_size_z" value="3.0" type="double"/>
		</node>
	</group>
	
	<!-- 3D Lidar -->
	<group if="$(eval arg('sensor') == 1)">	
		<!-- Launch Gazebo Simulation -->
		<include file="$(find simulation_gazebo)/launch_basic/sitl.launch">
			<arg name="gazebo_gui" default="$(arg gazebo_gui)"/>
			<arg name="world" value="$(arg world)"/>
			<arg name="mode" value="_3Dlidar"/>
			<arg name="x" value="$(arg x)"/>
			<arg name="y" value="$(arg y)"/>
			<arg name="z" value="$(arg z)"/>
		</include>
		
		<!-- 启动 octomap 建图 -->
		<node if="$(arg mapper_enable)" pkg="octomap_server" type="octomap_server_node" name="octomap_server">
			<param name="resolution" value="0.1" />
			<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
			<param name="frame_id" type="string" value="map" />
			<!-- maximum range to integrate (speedup!) -->
			<param name="sensor_model/max_range" value="5.0" />
			<!-- data source to integrate (PointCloud2) -->
			<remap from="cloud_in" to="/drone_msg/sensors/3Dlidar_scan" />
		</node>
		
		<!-- Planner -->
		<node if="$(eval arg('planner') == 0)" pkg="globle_planner" name="global_planner_main" type="global_planner_main" output="screen" launch-prefix="gnome-terminal --tab --">
			<!-- 如果直接使用  GroundTruth 点云输入 -->
			<!-- <remap from="/global_planner/global_pcl" to="/drone_msg/pcl_groundtruth" />-->
			<remap if="$(arg mapper_enable)" from="/global_planner/global_pcl" to="/octomap_point_cloud_centers" />
			<remap unless="$(arg mapper_enable)" from="/global_planner/laser_scan" to="/drone_msg/sensors/2Dlidar_scan" />

			<!-- 0: A_star; 1: hybrid A_star -->
			<param name="global_planner/algorithm_mode" value="0" type="int"/>
			<param name="global_planner/sim_mode" value="true" type="bool"/>
			<param name="global_planner/planner_enable" value="true" type="bool"/>
			<!-- 二维平面规划 -->
			<param name="global_planner/is_lidar" value="true" type="bool"/>
			<param name="global_planner/is_2D" value="false" type="bool"/> <!-- 最好是，免得往z轴上跑 -->
			<param name="global_planner/yaw_tracking_mode" value="false" type="bool"/> <!-- 如果使用 2dLidar 就需要自旋以感知地图 -->
			<!-- ２维高度，建议与起飞高度一致 -->
			<param name="global_planner/fly_height_2D" value="1.0" type="double"/>
			<!-- 停止距离 -->
			<param name="global_planner/safe_distance" value="0.01" type="double"/> <!-- 若膨胀距离map/inflate设置已考虑安全距离，建议此处设为0 -->
			<param name="global_planner/time_per_path" value="0.5" type="double"/> <!-- 路径追踪执行频率 -->
			<param name="global_planner/replan_time" value="10.0" type="double"/> <!-- 重规划频率 -->
			<!-- 0:groundtruth点云、SLAM全局点云生成; 1:RGBD相机、三维激光雷达传感器数据输入; 2:2维激光雷达传感器数据输入 -->
			<param if="$(arg mapper_enable)" name="global_planner/map_input" value="0" type="int"/>
			<param unless="$(arg mapper_enable)" name="global_planner/map_input" value="1" type="int"/>
			<param name="global_planner/ground_removal" value="true" type="bool"/>
			<param name="global_planner/max_ground_height" value="0.2" type="double"/>
			<param name="global_planner/downsampling" value="true" type="bool"/>
			<!-- 最大搜索步数 -->
			<param name="astar/allocate_num" value="10000" type="int"/>
			<!-- 启发式函数系数 -->
			<param name="astar/lambda_heu" value="2.0" type="double"/>
			<!-- 分辨率 -->
			<param name="map/resolution" value="0.2" type="double"/>
			<!-- 障碍物膨胀距离 -->
			<param name="map/inflate" value="0.8" type="double"/>
			<!-- 地图范围 -->
			<param name="map/origin_x" value="-15.0" type="double"/>
			<param name="map/origin_y" value="-15.0" type="double"/>
			<param name="map/origin_z" value="0.2" type="double"/>
			<param name="map/map_size_x" value="30.0" type="double"/>
			<param name="map/map_size_y" value="30.0" type="double"/>
			<param name="map/map_size_z" value="3.0" type="double"/>
		</node>

		<!-- 启动全局规划算法 -->
		<node if="$(eval arg('planner') == 1)" pkg="globle_planner" name="global_planner_main" type="global_planner_main" output="screen" launch-prefix="gnome-terminal --tab --">
			<!-- 如果直接使用  GroundTruth 点云输入 -->
			<!-- <remap from="/global_planner/global_pcl" to="/drone_msg/pcl_groundtruth" />-->
			<remap if="$(arg mapper_enable)" from="/global_planner/global_pcl" to="/octomap_point_cloud_centers" />
			<remap unless="$(arg mapper_enable)" from="/global_planner/local_pcl" to="/drone_msg/sensors/3Dlidar_scan" />

			<!-- 0: A_star; 1: hybrid A_star -->
			<param name="global_planner/algorithm_mode" value="1" type="int"/>
			<param name="global_planner/sim_mode" value="true" type="bool"/>
			<param name="global_planner/planner_enable" value="true" type="bool"/>
			<!-- 二维平面规划 -->
			<param name="global_planner/is_lidar" value="true" type="bool"/>
			<param name="global_planner/is_2D" value="false" type="bool"/>
			<param name="global_planner/yaw_tracking_mode" value="false" type="bool"/>
			<!-- 停止距离 -->
			<param name="global_planner/safe_distance" value="0.01" type="double"/> <!-- 若膨胀距离map/inflate设置已考虑安全距离，建议此处设为0 -->
			<param name="global_planner/time_per_path" value="0.5" type="double"/> <!-- 路径追踪执行频率 -->
			<param name="global_planner/replan_time" value="10.0" type="double"/> <!-- 重规划频率 -->
			<!-- 0:groundtruth点云、SLAM全局点云生成; 1:RGBD相机、三维激光雷达传感器数据输入; 2:2维激光雷达传感器数据输入 -->
			<param if="$(arg mapper_enable)" name="global_planner/map_input" value="0" type="int"/>
			<param unless="$(arg mapper_enable)" name="global_planner/map_input" value="1" type="int"/>
			<param name="global_planner/ground_removal" value="true" type="bool"/>
			<param name="global_planner/max_ground_height" value="0.2" type="double"/>
			<param name="global_planner/downsampling" value="true" type="bool"/>
			<!-- A* path searching -->
			<!-- 最大搜索步数 -->
			<param name="astar/allocate_num" value="10000" type="int"/>
			<!-- 启发式函数系数 -->
			<param name="astar/lambda_heu" value="2.0" type="double"/>
			
			<!-- kinodynamic path searching -->
			<param name="kinodynamic_astar/lambda_heu" value="10.0" type="double"/>
			<param name="kinodynamic_astar/allocate_num" value="100000" type="int"/>
			<param name="kinodynamic_astar/max_tau" value="0.8" type="double"/>
			<param name="kinodynamic_astar/init_max_tau" value="0.8" type="double"/>
			<param name="kinodynamic_astar/max_vel" value="1.0" type="double"/>
			<param name="kinodynamic_astar/max_acc" value="2.0" type="double"/>
			<param name="kinodynamic_astar/w_time" value="15.0" type="double"/>
			<param name="kinodynamic_astar/horizon" value="7.0" type="double"/>
			<param name="kinodynamic_astar/time_resolution" value="0.8" type="double"/>
			<param name="kinodynamic_astar/margin" value="0.4" type="double"/>	 <!-- for trajectory, equal to inflate -->
			<param name="kinodynamic_astar/check_num" value="5" type="int"/>
			<!-- 分辨率 -->
			<param name="map/resolution" value="0.2" type="double"/>
			<!-- 障碍物膨胀距离 -->
			<param name="map/inflate" value="0.8" type="double"/>
			<!-- 地图范围 -->
			<param name="map/origin_x" value="-15.0" type="double"/>
			<param name="map/origin_y" value="-15.0" type="double"/>
			<param name="map/origin_z" value="0.2" type="double"/>
			<param name="map/map_size_x" value="30.0" type="double"/>
			<param name="map/map_size_y" value="30.0" type="double"/>
			<param name="map/map_size_z" value="3.0" type="double"/>
		</node>
	</group>


	<!-- 3D Camera -->
	<group if="$(eval arg('sensor') == 2)">	
		<!-- Launch Gazebo Simulation -->
		<include file="$(find simulation_gazebo)/launch_basic/sitl.launch">
			<arg name="gazebo_gui" default="$(arg gazebo_gui)"/>
			<arg name="world" value="$(arg world)"/>
			<arg name="mode" value="_D435i"/>
			<arg name="x" value="$(arg x)"/>
			<arg name="y" value="$(arg y)"/>
			<arg name="z" value="$(arg z)"/>
		</include>
		
		<!-- RGBD相机局部点云 -->
		<node if="$(arg mapper_enable)" pkg="octomap_server" type="octomap_server_node" name="octomap_server">
			<param name="resolution" value="0.05" />
			<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
			<param name="frame_id" type="string" value="map" />
			<!-- maximum range to integrate (speedup!) -->
			<param name="sensor_model/max_range" value="5.0" />
			<!-- data source to integrate (PointCloud2) -->
			<remap from="cloud_in" to="/realsense_plugin/camera/local_pointclouds" />
		</node>
		
		<!-- 启动全局规划算法 -->
		<node if="$(eval arg('planner') == 0)" pkg="globle_planner" name="global_planner_main" type="global_planner_main" output="screen" launch-prefix="gnome-terminal --tab --">
			<!-- 如果直接使用  GroundTruth 点云输入 -->
			<!-- <remap from="/global_planner/global_pcl" to="/drone_msg/pcl_groundtruth" />-->
			<remap if="$(arg mapper_enable)" from="/global_planner/global_pcl" to="/octomap_point_cloud_centers" />
			<remap unless="$(arg mapper_enable)" from="/global_planner/local_pcl" to="/realsense_plugin/camera/local_pointclouds" />

			<!-- 0: A_star; 1: hybrid A_star -->
			<param name="global_planner/algorithm_mode" value="0" type="int"/>
			<param name="global_planner/sim_mode" value="true" type="bool"/>
			<param name="global_planner/planner_enable" value="true" type="bool"/>
			<!-- 二维平面规划 -->
			<param name="global_planner/is_rgbd" value="true" type="bool"/>
			<param name="global_planner/is_2D" value="false" type="bool"/>
			<param name="global_planner/yaw_tracking_mode" value="true" type="bool"/>
			<!-- 停止距离 -->
			<param name="global_planner/safe_distance" value="0.01" type="double"/> <!-- 若膨胀距离map/inflate设置已考虑安全距离，建议此处设为0 -->
			<param name="global_planner/time_per_path" value="0.5" type="double"/> <!-- 路径追踪执行频率 -->
			<param name="global_planner/replan_time" value="10.0" type="double"/> <!-- 重规划频率 -->
			<!-- 0:groundtruth点云、SLAM全局点云生成; 1:RGBD相机、三维激光雷达传感器数据输入; 2:2维激光雷达传感器数据输入 -->
			<param if="$(arg mapper_enable)" name="global_planner/map_input" value="0" type="int"/>
			<param unless="$(arg mapper_enable)" name="global_planner/map_input" value="1" type="int"/>
			<param name="global_planner/ground_removal" value="true" type="bool"/>
			<param name="global_planner/max_ground_height" value="0.2" type="double"/>
			<param name="global_planner/downsampling" value="true" type="bool"/>
			<!-- 最大搜索步数 -->
			<param name="astar/allocate_num" value="10000" type="int"/>
			<!-- 启发式函数系数 -->
			<param name="astar/lambda_heu" value="2.0" type="double"/>
			<!-- 分辨率 -->
			<param name="map/resolution" value="0.2" type="double"/>
			<!-- 障碍物膨胀距离 -->
			<param name="map/inflate" value="0.8" type="double"/>
			<!-- 地图范围 -->
			<param name="map/origin_x" value="-15.0" type="double"/>
			<param name="map/origin_y" value="-15.0" type="double"/>
			<param name="map/origin_z" value="0.2" type="double"/>
			<param name="map/map_size_x" value="30.0" type="double"/>
			<param name="map/map_size_y" value="30.0" type="double"/>
			<param name="map/map_size_z" value="3.0" type="double"/>
		</node>

		<!-- 启动全局规划算法 -->
		<node if="$(eval arg('planner') == 1)" pkg="globle_planner" name="global_planner_main" type="global_planner_main" output="screen" launch-prefix="gnome-terminal --tab --">
			<!-- 如果直接使用  GroundTruth 点云输入 -->
			<!-- <remap from="/global_planner/global_pcl" to="/drone_msg/pcl_groundtruth" />-->
			<remap if="$(arg mapper_enable)" from="/global_planner/global_pcl" to="/octomap_point_cloud_centers" />
			<remap unless="$(arg mapper_enable)" from="/global_planner/local_pcl" to="/realsense_plugin/camera/local_pointclouds" />

			<!-- 0: A_star; 1: hybrid A_star -->
			<param name="global_planner/algorithm_mode" value="1" type="int"/>
			<param name="global_planner/sim_mode" value="true" type="bool"/>
			<param name="global_planner/planner_enable" value="true" type="bool"/>
			<!-- 二维平面规划 -->
			<param name="global_planner/is_rgbd" value="true" type="bool"/>
			<param name="global_planner/is_2D" value="false" type="bool"/>
			<param name="global_planner/yaw_tracking_mode" value="true" type="bool"/>
			<!-- 停止距离 -->
			<param name="global_planner/safe_distance" value="0.01" type="double"/> <!-- 若膨胀距离map/inflate设置已考虑安全距离，建议此处设为0 -->
			<param name="global_planner/time_per_path" value="0.5" type="double"/> <!-- 路径追踪执行频率 -->
			<param name="global_planner/replan_time" value="10.0" type="double"/> <!-- 重规划频率 -->
			<!-- 0:groundtruth点云、SLAM全局点云生成; 1:RGBD相机、三维激光雷达传感器数据输入; 2:2维激光雷达传感器数据输入 -->
			<param if="$(arg mapper_enable)" name="global_planner/map_input" value="0" type="int"/>
			<param unless="$(arg mapper_enable)" name="global_planner/map_input" value="1" type="int"/>
			<param name="global_planner/ground_removal" value="true" type="bool"/>
			<param name="global_planner/max_ground_height" value="0.2" type="double"/>
			<param name="global_planner/downsampling" value="true" type="bool"/>

			<param name="kinodynamic_astar/max_tau" value="0.5" type="double"/>
			<param name="kinodynamic_astar/init_max_tau" value="0.5" type="double"/>
			<param name="kinodynamic_astar/max_vel" value="1.0" type="double"/>
			<param name="kinodynamic_astar/max_acc" value="1.0" type="double"/>
			<param name="kinodynamic_astar/w_time" value="15.0" type="double"/>
			<param name="kinodynamic_astar/horizon" value="9.0" type="double"/>
			<param name="kinodynamic_astar/lambda_heu" value="2.0" type="double"/>
			<param name="kinodynamic_astar/time_resolution" value="5.0" type="double"/>
			<param name="kinodynamic_astar/margin" value="0.4" type="double"/>
			<param name="kinodynamic_astar/allocate_num" value="100000" type="int"/>
			<param name="kinodynamic_astar/check_num" value="5" type="int"/>
			<!-- 分辨率 -->
			<param name="map/resolution" value="0.2" type="double"/>
			<!-- 障碍物膨胀距离 -->
			<param name="map/inflate" value="0.8" type="double"/>
			<!-- 地图范围 -->
			<param name="map/origin_x" value="-15.0" type="double"/>
			<param name="map/origin_y" value="-15.0" type="double"/>
			<param name="map/origin_z" value="0.2" type="double"/>
			<param name="map/map_size_x" value="30.0" type="double"/>
			<param name="map/map_size_y" value="30.0" type="double"/>
			<param name="map/map_size_z" value="3.0" type="double"/>
		</node>
	</group>
	
	<!-- 启动rviz,设为false可关闭 -->
	<group if="$(arg visualization)">
		<node type="rviz" name="rviz" pkg="rviz" args="-d $(find simulation_gazebo)/config/rviz_config/rviz_config_astar.rviz" />
		<!-- 真实点云 -->
		<node pkg="simulation_gazebo" type="pc2_publisher_node" name="pc2_publisher_node" output="screen">	
			<param name="pcd_path" type="string" value="$(find simulation_gazebo)/maps/obstacle.pcd" />
		</node>
	</group>
</launch>

