# compilation and distribution
__pycache__
_ext
*.pyc
*.so
nano.save
.catkin_workspace

**~
**.bag

build/
devel/
install/
.vscode/
Modules/planning/histo-planner/dataLog
Modules/tools/camera_models/camera_calib_example/DATA
Modules/tools/imu_cali/data
Modules/slam/orb_slam3/library/ORB_SLAM3/Vocabulary/ORBvoc.bin
Modules/slam/orb_slam3/library/ORB_SLAM3/Vocabulary/ORBvoc.txt.tar.gz

# pytorch/python/numpy formats
# *.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# project dirs
/datasets
/models



*.bag
temp/
device.yaml
